<h1>Ruby API Example</h1>
<% @class_name.length.times do |i| %>
	<p><%= @class_name[i] %></p>
	<p><%= @class_description[i] %></p>
	<p><%= @class_date[i] %></p><br/>
<% end %>
<p>*******************************************</p>
<p><%= @https_status %></p>
